<div class="container">
    <h2>{{translateModel.games.header}}</h2>
    <div class="panel panel-success">
        <div class="panel-heading">
            <div ng-include="'components/cabinet/menuView.html'"></div>
        </div>
        <div class="panel-body">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="searchGame" placeholder="{{translateModel.input.search}}">
                <div class="input-group-btn">
                    <button class="btn btn-default" type="submit">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>{{translateModel.label.number}}</th>
                        <th ng-click="changeSort('time')">{{translateModel.label.date}}</th>
                        <th ng-click="changeSort('amount')">{{translateModel.label.amount}}</th>
                        <th ng-click="changeSort('lobby')">{{translateModel.label.lobby}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="x in userInfo.playedBets | orderBy : sortParam | filter : searchGame" data-toggle="modal" data-target="#game" ng-click="showGame(x)">
                        <td>{{$index}}</td>
                        <td>{{x.time}}</td>
                        <td class="bg-success" ng-show="x.amount>0">{{x.amount}}</td>
                        <td class="bg-danger" ng-show="x.amount<0">{{x.amount}}</td>
                        <td>{{x.lobby}}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div id="game" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">{{translateModel.label.game}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-6 col-xs-6 bordered-col">
                        <p><span class="label label-info">{{translateModel.games.lobby}} - {{game.lobby}}</span></p>
                        <p><span class="label label-info">{{translateModel.games.date}} - {{game.time}}</span></p>
                        <p><span class="label label-info">{{translateModel.games.type}} - {{game.type}}</span></p>
                    </div>
                    <div class="col-sm-6 col-xs-6">
                        <p><span class="label label-primary">{{translateModel.games.bet}} - {{game.bet}}</span></p>
                        <p><span class="label label-primary">{{translateModel.games.betType}} - {{game.betType}}</span> </p>
                        <p ng-show="game.amount>0"><span class="label label-success">{{translateModel.label.amount}} - {{game.amount}}</span></p>
                        <p ng-show="game.amount<0"><span class="label label-danger">{{translateModel.label.amount}} - {{game.amount}}</span></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>